@using JumpDieMeileWebApp.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<style>
    .vertical-wrap-panel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .horizontal-wrap-panel-center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: stretch;
    }
</style>

<MudThemeProvider Theme="MyCustomTheme" />
<div class="vertical-wrap-panel">
    <div class="horizontal-wrap-panel-center">
        <MudPaper Class="ma-4">
            <MudButton OnClick="@(() => { Console.WriteLine(this.NavigationManager.BaseUri); Console.WriteLine(this.NavigationManager.Uri); this.NavigationManager.NavigateTo("/"); })" Color="Color.Secondary" Variant="Variant.Filled">Übersicht</MudButton>
        </MudPaper>
        <MudPaper Class="ma-4">
            <MudButton OnClick="@(() => { this.NavigationManager.NavigateTo(this.NavigationManager.ToAbsoluteUri(PageRoutes.RegisterRunRoute).AbsoluteUri); })"
                       Color="Color.Secondary" Variant="Variant.Filled">Lauf eintragen</MudButton>
        </MudPaper>
        <MudPaper Class="ma-4">
            <MudButton OnClick="@(() => { this.NavigationManager.NavigateTo(this.NavigationManager.ToAbsoluteUri(PageRoutes.RegisterRunnerRoute).AbsoluteUri); })"
                       Color="Color.Secondary" Variant="Variant.Filled">Läufer registrieren</MudButton>
        </MudPaper>
    </div>

    <div class="horizontal-wrap-panel-center ma-4">
        @Body
    </div>
</div>

@code
{
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#757679",
            Secondary = "#C30039",
            AppbarBackground = Colors.Shades.White,
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}
